<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" href="/static/imagenes/logo.png" type="image/png">
    <meta charset="UTF-8">
    <title>chambabot</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/static/imagenes/logo.png" alt="logo pues hijito" style="border-radius: 20px; height:90px">
            <h1 class="nombre-app" style="color:white ">chambabot </h1>
        </div>
        <nav>
            <a href="https://youtube.com/playlist?list=PL0ONFXpPDe_lE4Y0sjEkTKwl_DD4SRflD" target="_blank" class="nav-link">playlist de música para estudiar</a>
        </nav>
    </header>
    
<div class="contenedor">
    <div class="wrapper">
        <a href="bloques">
        <button id="boton" >por bloques</button></a>
        <br><br><br><br>
        <a href="stopwatch">
        <button id="boton" style="background-color: #ffd30c; padding: 20px 50px">a mi ritmo</button></a>
    </div>
</div>








</body>
</html>


