<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
    <link rel="icon" href="/static/imagenes/logo.png" type="image/png">
    <meta charset="UTF-8">
    <title>estadísticas</title>
</head>
<body>
<header>
    <div class="logo">
        <img src="/static/imagenes/logo.png" alt="logo pues hijito" style="border-radius: 20px; height:90px">
        <h1 class="nombre-app" style="color:white "> </h1>
    </div>
    <div class="contenedor-pfp" onclick="toggleSidebar(event)">
        <img src="/static/imagenes/pfp.png" alt="foto de perfil pues" style="height:70px">
    </div>
    </header>

    <div id="sidebar" class="sidebar">
        <div class="contenedor-pfp">
        <a href=""><img src="/static/imagenes/pfp.png" alt="foto de perfil pues" style="height:70px; margin-left: 50px; margin-bottom: 50px;"></a>
        </div>
        <a href="stats"><button class="boton-sidebar"><img src="/static/imagenes/stats.png" style="height:30px; margin-right: 20px;">estadísticas</button></img></a>
        <a href="/"><button class="boton-sidebar"><img src="/static/imagenes/select.png" style="height:30px;margin-right: 20px;">seleccionar<br>modo</button></img></a>
        <a href="user_settings"><button class="boton-sidebar"><img src="/static/imagenes/options.png" style="height:30px; margin-right: 20px;">opciones</button></img></a>
    </div>



    <script>
        function toggleSidebar(event) {
            event.stopPropagation();
            var sidebar = document.getElementById('sidebar');
            if (sidebar.style.width === '0px' || !sidebar.style.width) {
                sidebar.style.width = '250px';
            } else {
                sidebar.style.width = '0';
            }
        }

        window.onclick = function(event) {
            var sidebar = document.getElementById('sidebar');
            if (!event.target.matches('.sidebar, .sidebar *')) {
                sidebar.style.width = '0';
            }
        }
    </script>

            <div class="con_tenedor">
                <div class="contenedor-imagen">
                  <img src="/static/imagenes/pfp.png" width="100" height="100" style="padding:2px; border-radius:60%;"  alt=""> <br><h1>nombre</h1>

            </div>

            <br>

                <div class="boton-settings">
                    <a href="profilepic"><button class="boton-sidebar">cambiar foto de perfil</button></a>
                </div>

                <br>

            <div class="boton-settings">
                <a href="recomendaciones"><button class="boton-sidebar" style="">recomendaciones</button></a>
            </div>


             <br>

            <div class="boton-settings">
                <a href="enlaces"><button class="boton-sidebar">enlaces</button></a>
            </div>

                <br>
            <div class="contenedor" >
                <a href="/" style="color: #ffd30c;text-decoration: none; font-weight: bold;"><img src="/static/imagenes/logout.png" style="height:20px;"> cerrar sesión</a>
            </div>
        </div>

